@import "variables";

@import "base";
@import "alert";
@import "button";
@import "form";
@import "menu";
@import "panel";
@import "status";
@import "tabs";
@import "tag";
@import "avatar";
@import "typography";
@import "flex";
@import "nav";

@import "list";
// Layouts
@import "layouts/sidebar";

@import "utils/spacing";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
.feather {
    width: 18px;
    height: 18px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
  }