
.app {
    display: flex;
    margin-left: 250px;
    .sidebar {
        width: calc(250px - 2rem);
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        padding: 1rem;
        border-right: 1px solid $border-color;
        display: flex;
        flex-direction: column;
    }
    main {
        width: calc(100%);
        display: block;
    }
}